/******* GENERAL ******/
html {
	font-size: 62,5%;

}
body {
	font-family: 'Lato', sans-serif;
    word-spacing:0.2rem;
}

h1 {
	font-size: 2.4rem;
}
h2 {
	font-size: 3.4rem;
	font-weight: bold;
	text-transform: uppercase;
	margin-bottom: 5%;
}

h3{
    
    font-size:2.8rem;
    font-weight: bold;
    text-transform: uppercase;
    
}

p {
 font-size:1.6 rem;
    font-weight: light;
}



.about, .whatwedo, .contactus {
background-image: url("../images/gradient.jpg");

}

/********** NAV *********/
.navbar{
    background-color:salmon;
    text-transform: uppercase;
    color:white;
 
    
}


.navbar ul li a{
    margin-left: 50px;
    color:white;
}


.navbar-default .navbar-brand{
    color:white;
    font-size:15px;
}



.navbar ul li a:hover{
    background-color:red;
}
.navbar-default .navar-nav>li>a:hover {
    color:white;
    text-decoration: underline;
}

/************* WORKING WITH DESIGN ***************/

.working {
	background: url("../images/bg1.jpg") no-repeat fixed center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
    height: 450px;
    padding-bottom: 

}

.working img{
    padding-top: 45px;
}
.working h2{
    color:white;
    padding-top:13px;
}


.working p{
    color: white;
    text-transform: uppercase;
    line-height: 250%;
    padding-bottom:3%;
}

.main{
    padding-top:35px;
    
}


        /*********** ABOUT ************/

.about h2{
   line-height: 240%;
    padding-top:3%;
    padding-bottom:2%;

}

.about p{
    line-height:300%;
    padding-bottom: 5%;
    
}

    /*********** SERVICES **********/

.services{
    background: url("../images/bg2.jpg") no-repeat fixed;
    background-size: 100%;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	color: white;  
    padding-bottom: 5%;
}

.services h2{
    padding-top:3%;
}


.services p{
    
    line-height: 280%;
}


 /********* WHAT WE DO *******/
.whatwedo h2{
    padding-top:2%;
    margin-bottom: 4%;
    font-weight: bolder;
}


.whatwedo p{
    padding-bottom: 5%;
}


/************ PICTURES ********/

.join{
    padding: 3%; 
}
.join .foto{
    height: 248px;
    background-position: center top;
    background-repeat: no-repeat;
    
}

.join .foto:hover{
    
    opacity:0.70;
    filter: alpha (opacity=70);
    
}

#img1 {
	background-image: url("../images/zdj2.jpg");

}
#img2 {
	background-image: url("../images/zdj1.jpg")

}
#img3 {
	background-image: url("../images/zdj3.jpg");

}
#img4 {
	background-image: url("../images/zdj4.jpg");

}
#img5 {
	background-image: url("../images/zdj6.jpg");

}
#img6 {
	background-image: url("../images/zdj5.jpg");

}




/********** CONTACT ***********/

.contactus h2{
    
    padding-top:3%;
    font-weight: bolder;
}


.contactus p{
    color:salmon;
    font-weight: bolder;
    font-size: 200%;
    padding-bottom:3%;
    
}

.contactus p:hover{
    
    font-size: 240%;
    color:black;
}

/********** MEDIA *************/


@media (max-width:978px){
    
    body{
        padding-top:45px;
    }
    
    .navbar ul li a {
        margin-left:0px;
    }
    
    .working{
        background-size:100%;
    }
    
    .join .foto {
		max-width: 550px;
		margin: 0 auto;
		margin-top: 20px;

	}
    
    .foto {
		padding-top: 10px; 
	}
    
    .services {
		background-image: none;
		background-color: salmon;
	}
    
}